.user-activities {
    background-color: #ffffff;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 500px;
  }
  
  .user-activities h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .activity-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .activity-item {
    padding: 10px 15px;
    border-bottom: 1px solid #f4f6f8;
    color: #555555;
    font-size: 16px;
    
  }
  
  .activity-item:last-child {
    border-bottom: none;
  }
  
  .activity-item:hover {
    background-color: #f4f6f8;
    cursor: pointer;
  }
  